.categorization {
    background-color: white;
    width: 99%;
    height: auto;
    border-radius: 16px;
}
.btn-row{
    width: 100%;
    height: 40px;
    
}

.up-btn{
    width: 100%;
    height: 40px;
    color: #38A3A5;
    margin-left: 13px;
    background-color: #CDE8E8;
    margin-top: 13px;

    border-radius: 5px;
    // border-top-left-radius:16px;
    // border-top-right-radius: 16px;
    text-align: center;
}
.up-btn-Active{
    width: 100%;
    height: 40px;
    color: white;
    margin-left: 13px;
    background-color: #38A3A5;
    margin-top: 13px;
    border-radius: 5px;
    // border-top-left-radius:16px;
    // border-top-right-radius: 16px;
    text-align: center;
}
.table-roww{
    width: 95%;
    height: 40px;
    background-color: #E3E9EF;
    margin-left: 26px;
    border-radius: 7px;
}
.main-row{
    width: 100%;
    height: 40px;
    
    padding-top: 10px;
margin-left: 20%;
}
.ID{
    font-size: 13px;
    color: #B3B8BD; 
    padding-left: 90px;
}
.typ-name{
    font-size: 13px;
    color: #B3B8BD; 
    padding-left: 90px;
}
.description{
    font-size: 13px;
    color: #B3B8BD; 
    padding-left: 90px;
}
.action{
    font-size: 13px;
    color: #B3B8BD; 
    padding-left: 170px;
}
.row-image{
    padding-left: 60px;
}
.row-txt1{
    font-size: 12px;
    padding-left: 2px;
    margin-left: 35px;
}
.row-txt2{
    font-size: 12px;
    padding-left: 2px;
    margin-left: 35px;
}
.row-txt3{
    font-size: 12px;
}
.row-txt4{
    font-size: 12px;
    margin-left: 140px;
    border: none;
    
}
.first-btn{
    background-color: #F5F5F9;
   
    border: none;
width: 40px;
height: 35px;
}
.first-btn-sec{
    margin-top:22%;
}
.rights .poppins_bold{
    font-size: 15px;
    color: #707070;
}
.numb-btn{
    border:none;
    width: 33px;
    text-align: center;
    height: 35px;
    background-color: #38A3A5;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}
.number {
   
    text-align: center;
}
.add-btn{
    width: 35px;
    height: 35px;
    background-color: #38A3A5;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-left: 260px;
    text-align: center;
    color: white;
    font-weight: bolder;
}