.categorization {
    background-color: white;
    width: 99%;
    height: auto;
    border-radius: 10px;
}
.btn-row{
    width: 100%;
    height: 30px;
    
}

.up-btn{
    width: 100%;
    height: 40px;
    color: #38A3A5;
    margin-left: 13px;
    background-color: #CDE8E8;
    // margin-top: 13px;

    // border-radius: 5px;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    text-align: center;
}
.up-btn-Active{
    border-top-right-radius: 6px;
border-top-left-radius: 6px;
    width: 100%;
    height: 40px;
    color: white;
    margin-left: 13px;
    background-color: #38A3A5;
    // margin-top: 13px;
    // border-radius: 5px;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.first-btn{
    background-color: #F5F5F9;
   
    border: none;
width: 40px;
height: 35px;
}
.first-btn-sec{
    margin-top:8%;
}
.rights .poppins_bold{
    font-size: 15px;
    color: #707070;
}
.numb-btn{
    border:none;
    width: 33px;
    text-align: center;
    height: 35px;
    background-color: #38A3A5;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}
.number {
   
    text-align: center;
}
.add-btn{
    width: 35px;
    height: 35px;
    background-color: #38A3A5;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-left: 260px;
    text-align: center;
    color: white;
    font-weight: bolder;
    border: none;
    
}
.add-bttn:focus{
    outline: none !important;
}
