.dashboard-sec{
    width: 99%;
}
.white-box{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 6px;
    padding-top: 10px;
}

.number-txt .poppins_semibold{
    font-size: 30px;
    color: #38A3A5;
}
.user{
    padding-top: 8px;
    padding-left: 35px;
}
.view-all{
    color: #BFBFBF;
    font-size: 12px;
    margin-top: 55px;
    margin-left: 30px;
}
.graph-div{
    width: 100%;
    height: 374px;
    background-color: white;
    border-radius: 6px;
}
.std-image{
    width:  30px;
    height: 30px;
    border-radius: 50%;
    
    margin-left: 30px;
}.horizontal{
    color: #EBF2F7;
    width: 97%;
    font-weight: bolder;
}
.graph-div {
    font-size: 20px;
    color:#333333;
    padding-left: 30px;
    padding-top: 20px;
}

.name {
    font-size: 15px;
    padding-top: 6px;
}
.day-ago{
    font-size: 12px;
color: #B3B8BD;
padding-top: 6px;
}
.all-time{
    background-color: #52575D;
    font-size: 15px;
    color: white;
    width: 15%;
    height: 30px;
    border-radius: 6px;
    margin-left: 26px;
}
.btn-font{
    font-size: 14px;
    padding-left: 15px;
    padding-top: 6px;
}