.frcs2oral{
    height: auto;
}
.question-box-full{
    width:965px;
    height: 164px;
    border-radius: 6px;
    padding-left: 30px;
    margin-left: 50px;
    border: 1px solid #afaaaa;
}
.anas1{
    padding-top: 30px;
}
.add-more{
    background-color: transparent;
    color: #38A3A5;
    font-size: 15px;
    border:1px solid gray;
}