.header-section{
    width: 99%;
}
.list{
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 6px;
}
.header{
    border-radius: 6px;
    width: 100%;
    height: 50px;
    background-color: white;
}
.dashboard{
    padding-left: 20px;
    color: #9E9E9E;
    padding-top: 15px;
    font-size: 14px;
    position: absolute;
    
}
.vl {
    border-left: 1px solid #d8d6d6;
    height: 35px;
    position: absolute;
    left: 15%;
    margin-left: 80px;
    top: 8px;
  }
 
  .headerIcon{
      margin: 15px;
  }
  .headerIcon:hover{
      cursor: pointer;
      opacity: 0.8;
  }
  .input-sec{
      width: 100%;
      height: 50px;
      border:none;
  }